.story {
	width: 75%;
	padding: 6rem;
	margin: 0 auto;
	background-color: rgba($color-white, 0.6);
	border-radius: 3px;
	box-shadow: 0 3rem 6rem sadowColor(0.1);
	font-size: $default-font-size;
	transform: skew(-12deg);

	@include respond(tab-port) {
		width: 85%;
		padding: 5rem;
	}

	@include respond(phone) {
		transform: skew(0);
		width: 90%;
		padding: 3rem;
		text-align: center;
	}

	&__shape {
		height: 15rem;
		width: 15rem;
		border-radius: 50%;
		float: left;
		overflow: hidden;
		-webkit-shape-outside: circle(50% at 50% 50%);
		shape-outside: circle(50% at 50% 50%);
		-webkit-clip-path: circle(50% at 50% 50%);
		clip-path: circle(50% at 50% 50%);
		transform: translateX(-3rem) skew(12deg);

		@include respond(phone) {
			transform: translateX(0) skew(0);
			shape-outside: none;
			float: none;
			margin: 0 auto 2rem auto;
		}
	}
	&__img {
		height: 100%;
		transform: scale(1.5) translateX(-2rem);
		transition: all 0.5s;
	}
	&__text {
		transform: skew(12deg);

		@include respond(phone) {
			transform: skew(0);

			p {
				text-align: justify;
			}
		}
	}

	&__caption {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 20%);
		text-transform: uppercase;
		color: $color-white;
		font-size: 1.7rem;
		text-align: center;
		opacity: 0;
		transition: all 0.5s;
	}
	&:hover &__caption {
		transform: translate(-50%, -50%);
		opacity: 1;
	}
	&:hover &__img {
		filter: blur(3px) brightness(80%);
		transform: scale(1) translateX(-2rem);
	}

	&:not(:last-child) {
		margin-bottom: 8rem;
	}
}
