.heading-primary {
	color: $color-white;
	text-transform: uppercase;
	/* backface-visibility: hidden; */
	margin: 6rem 0;

	&--main {
		display: block;
		font-size: 6rem;
		font-weight: 400;
		letter-spacing: 2.5rem;
		animation: moveInLeft 1s;

		@include respond(phone) {
			font-size: 4.7rem;
			letter-spacing: 0.5rem;
		}
	}
	&--sub {
		display: block;
		font-size: 2rem;
		font-weight: 700;
		letter-spacing: 1.35rem;
		animation: moveInRight 1s;

		@include respond(phone) {
			letter-spacing: 3px;
		}
	}
}

.heading-secondary {
	font-size: 3.5rem;
	background-image: linear-gradient(
		to right,
		$color-primary-light,
		$color-primary-dark
	);
	background-clip: text;
	-webkit-background-clip: text;
	display: inline-block;
	color: transparent;
	transition: all 0.2s;
	cursor: default;
	text-transform: uppercase;

	&:hover {
		transform: skewY(2deg) skewX(15deg) scale(1.1);
		text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);

		@include respond(phone) {
			transform: skewY(2deg) skewX(0) scale(1);
		}
	}

	@include respond(tab-land) {
		font-size: 3rem;
	}
	@include respond(phone) {
		font-size: 2.5rem;
	}
}

.heading-tertiary {
	font-size: 1.6rem;
	font-weight: 700;
	text-transform: uppercase;
}
.paragraph {
	font-size: 1.6rem;
	&:not(:last-child) {
		margin-bottom: 3rem;
	}
}
