@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
}

@media screen and (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  /* padding: 3rem; */
}

::-moz-selection {
  background-color: #55c57a;
  color: #fff;
}

::selection {
  background-color: #55c57a;
  color: #fff;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* backface-visibility: hidden; */
  margin: 6rem 0;
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 2.5rem;
  -webkit-animation: moveInLeft 1s;
          animation: moveInLeft 1s;
}

@media screen and (max-width: 600px) {
  .heading-primary--main {
    font-size: 4.7rem;
    letter-spacing: 0.5rem;
  }
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.35rem;
  -webkit-animation: moveInRight 1s;
          animation: moveInRight 1s;
}

@media screen and (max-width: 600px) {
  .heading-primary--sub {
    letter-spacing: 3px;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
  color: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: default;
  text-transform: uppercase;
}

.heading-secondary:hover {
  -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
          transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 600px) {
  .heading-secondary:hover {
    -webkit-transform: skewY(2deg) skewX(0) scale(1);
            transform: skewY(2deg) skewX(0) scale(1);
  }
}

@media screen and (max-width: 1200px) {
  .heading-secondary {
    font-size: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.center-text {
  text-align: center;
}

.margin-bottom-big {
  margin-bottom: 8rem;
}

@media screen and (max-width: 900px) {
  .margin-bottom-big {
    margin-bottom: 5rem;
  }
}

.margin-bottom-medium {
  margin-bottom: 4rem !important;
}

@media screen and (max-width: 900px) {
  .margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.margin-bottom-small {
  margin-bottom: 1.5rem;
}

.padding-right-small {
  padding-right: 2rem;
}

.margin-top-big {
  margin-top: 8rem;
}

@media screen and (max-width: 900px) {
  .margin-top-big {
    margin-top: 5rem;
  }
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(30rem + 65vw);
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .flexbox {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: calc(30rem + 55vw);
  }
}

@media screen and (max-width: 600px) {
  .flexbox {
    width: 100%;
  }
}

.flexbox .flex-item {
  margin: 0 2rem;
}

@media screen and (max-width: 900px) {
  .flexbox .flex-item {
    margin: 2rem;
    max-width: 50rem;
  }
}

.flexbox .flex-col-2 {
  width: calc((100% - 4rem) / 2);
}

@media screen and (max-width: 900px) {
  .flexbox .flex-col-2 {
    width: 100%;
  }
}

.flex-center-x {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  opacity: 0;
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10rem;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn--white {
  background-color: #fff;
  color: #777;
}

.btn--white::after {
  background-color: #fff;
}

.btn--green {
  background-color: #55c57a;
  color: #fff;
}

.btn--green::after {
  background-color: #55c57a;
}

.btn--animated {
  -webkit-animation: moveInBottom 0.5s 0.5s backwards;
          animation: moveInBottom 0.5s 0.5s backwards;
}

.btn-text:link, .btn-text:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px 1rem;
  font-size: 1.6rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn-text:active {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.composition {
  position: relative;
}

@media screen and (max-width: 900px) {
  .composition {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2rem;
  }
}

.composition__photo {
  width: 55%;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 10;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  outline-offset: 1rem;
}

@media screen and (max-width: 900px) {
  .composition__photo {
    position: relative;
    width: 33.33%;
    outline-offset: 0.5rem;
  }
}

.composition__photo--p1 {
  top: -2rem;
  left: 0;
}

@media screen and (max-width: 900px) {
  .composition__photo--p1 {
    top: 0;
    left: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.composition__photo--p2 {
  top: 5rem;
  right: 0;
}

@media screen and (max-width: 900px) {
  .composition__photo--p2 {
    top: -1rem;
    left: 0;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    z-index: 100;
  }
}

.composition__photo--p3 {
  top: 13rem;
  left: 20%;
}

@media screen and (max-width: 900px) {
  .composition__photo--p3 {
    top: 1rem;
    left: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.composition__photo:hover {
  -webkit-transform: scale(1.05) translateY(0.5rem);
          transform: scale(1.05) translateY(0.5rem);
  -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 12;
  outline: 1rem solid #55c57a;
}

@media screen and (max-width: 900px) {
  .composition__photo:hover {
    -webkit-transform: scale(1.2) translateY(0.5rem);
            transform: scale(1.2) translateY(0.5rem);
    z-index: 200;
    outline: 0.7rem solid #55c57a;
  }
}

.composition:hover .composition__photo:not(:hover) {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

@media screen and (max-width: 900px) {
  .composition:hover .composition__photo:not(:hover) {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

.feature-box:hover {
  -webkit-transform: translateY(-1.5rem) scale(1.03);
          transform: translateY(-1.5rem) scale(1.03);
}

.card {
  height: 51rem;
  width: 33rem;
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  position: relative;
  color: #fff;
  font-size: 1.6rem;
}

.card__side {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card__side--front {
  background: #fff;
}

.card__side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card__side--back-1 {
  background: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
  background: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.card__side--back-2 {
  background: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
  background: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.card__side--back-3 {
  background: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa));
  background: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.card:hover .card__side--front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card__picture--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730)), url(../../img/nat-5.jpg);
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../../img/nat-5.jpg);
}

.card__picture--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485)), url(../../img/nat-6.jpg);
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../../img/nat-6.jpg);
}

.card__picture--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa)), url(../../img/nat-7.jpg);
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../../img/nat-7.jpg);
}

.card__heading {
  font-size: 2.8rem;
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
  text-align: right;
  top: 12rem;
  right: 2rem;
  width: 75%;
}

.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
}

.card__heading-span--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.card__heading-span--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.card__heading-span--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa));
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.card__details {
  padding: 2.5rem;
}

.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
  color: #777;
}

.card__details ul li {
  padding: 1rem;
  text-align: center;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.card__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  text-align: center;
}

.card__price-box {
  margin-bottom: 8rem;
}

.card__price-only {
  text-transform: uppercase;
}

.card__price-value {
  font-size: 6rem;
}

@media screen and (max-width: 900px), only screen and (hover: none) {
  .card {
    height: auto;
    background-color: #fff;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    border-radius: 3px;
  }
  .card__side {
    height: 50rem;
    position: relative;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .card__side--back {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    height: 30rem;
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .card:hover .card__side--front {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  .card:hover .card__side--back {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  .card__price-box {
    margin-bottom: 4rem;
  }
  .card__price-value {
    font-size: 6rem;
  }
  .card__cta {
    margin-top: 2rem;
  }
}

.story {
  width: 75%;
  padding: 6rem;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  -webkit-box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  font-size: 1.6rem;
  -webkit-transform: skew(-12deg);
          transform: skew(-12deg);
}

@media screen and (max-width: 900px) {
  .story {
    width: 85%;
    padding: 5rem;
  }
}

@media screen and (max-width: 600px) {
  .story {
    -webkit-transform: skew(0);
            transform: skew(0);
    width: 90%;
    padding: 3rem;
    text-align: center;
  }
}

.story__shape {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  float: left;
  overflow: hidden;
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-transform: translateX(-3rem) skew(12deg);
          transform: translateX(-3rem) skew(12deg);
}

@media screen and (max-width: 600px) {
  .story__shape {
    -webkit-transform: translateX(0) skew(0);
            transform: translateX(0) skew(0);
    shape-outside: none;
    float: none;
    margin: 0 auto 2rem auto;
  }
}

.story__img {
  height: 100%;
  -webkit-transform: scale(1.5) translateX(-2rem);
          transform: scale(1.5) translateX(-2rem);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.story__text {
  -webkit-transform: skew(12deg);
          transform: skew(12deg);
}

@media screen and (max-width: 600px) {
  .story__text {
    -webkit-transform: skew(0);
            transform: skew(0);
  }
  .story__text p {
    text-align: justify;
  }
}

.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 20%);
          transform: translate(-50%, 20%);
  text-transform: uppercase;
  color: #fff;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.story:hover .story__caption {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
}

.story:hover .story__img {
  -webkit-filter: blur(3px) brightness(80%);
          filter: blur(3px) brightness(80%);
  -webkit-transform: scale(1) translateX(-2rem);
          transform: scale(1) translateX(-2rem);
}

.story:not(:last-child) {
  margin-bottom: 8rem;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden;
}

.bg-video__content {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}

.form__input {
  font-size: 1.6rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  font-family: inherit;
  color: inherit;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 600px) {
  .form__input {
    width: 100%;
  }
}

.form__input:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #55c57a;
}

.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}

.form__input::-webkit-input-placeholder {
  color: #999;
}

.form__input:-ms-input-placeholder {
  color: #999;
}

.form__input::-ms-input-placeholder {
  color: #999;
}

.form__input::placeholder {
  color: #999;
}

.form__label {
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  font-weight: 700;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
}

.form__radio-group {
  width: 49%;
  display: inline-block;
}

@media screen and (max-width: 600px) {
  .form__radio-group {
    width: 100%;
  }
  .form__radio-group:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.form__radio-input {
  display: none;
}

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  padding-left: 4rem;
  position: relative;
}

.form__radio-button {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: 0;
}

.form__radio-button::after {
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #55c57a;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
  .popup {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.popup__content {
  width: 75%;
  background-color: #fff;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transition: all 0.5s 0.2s;
  transition: all 0.5s 0.2s;
}

@media screen and (max-width: 600px) {
  .popup__content {
    width: 90%;
    overflow: visible;
  }
}

.popup__left {
  width: 33.3%;
  display: table-cell;
}

@media screen and (max-width: 1200px) {
  .popup__left {
    display: none;
  }
}

.popup__right {
  width: 66.6%;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
  position: relative;
}

@media screen and (max-width: 600px) {
  .popup__right {
    width: 100%;
    padding: 2rem;
  }
}

.popup__img {
  display: block;
  width: 100%;
}

.popup__text {
  font-size: 1.4rem;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
  -webkit-column-rule: 1px solid #eee;
          column-rule: 1px solid #eee;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

@media screen and (max-width: 600px) {
  .popup__text {
    -webkit-column-count: 1;
            column-count: 1;
    -webkit-column-gap: 0;
            column-gap: 0;
    -webkit-column-rule: none;
            column-rule: none;
  }
}

.popup:target {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.popup:target .popup__content {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.popup__close {
  font-size: 3rem;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  text-decoration: none;
  display: inline-block;
  color: #777;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 1rem;
  line-height: 0.5;
}

@media screen and (max-width: 600px) {
  .popup__close {
    top: 0;
    right: 0;
  }
}

.popup__close:hover {
  color: #55c57a;
}

.header {
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url(../../img/hero.jpg);
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

@media screen and (max-width: 600px) {
  .header {
    height: 90vh;
    min-height: 400px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    overflow: hidden;
  }
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: 3.5rem;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (max-width: 600px) {
  .header__text-box {
    top: 50%;
  }
}

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #eee;
}

@media screen and (max-width: 900px) {
  .footer {
    padding: 6rem 0;
  }
}

.footer__logo-box {
  text-align: center;
  margin-bottom: 8rem;
}

.footer__logo {
  width: 15rem;
  height: auto;
}

.footer__navigation {
  padding-top: 2rem;
  border-top: 1px solid #777;
  display: inline-block;
}

.footer__list {
  list-style: none;
}

.footer__item {
  display: inline-block;
}

.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}

.footer__link:link, .footer__link:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #f7f7f7;
  background-color: #333;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer__link:hover, .footer__link:active {
  color: #55c57a;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  -webkit-transform: rotate(7deg) scale(1.3);
          transform: rotate(7deg) scale(1.3);
}

.footer__copyright {
  padding-top: 2rem;
  border-top: 1px solid #777;
  display: inline-block;
}

.footer__nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 2rem;
}

@media screen and (max-width: 900px) {
  .footer__nav-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__nav-container .flex-item {
  margin: 0 2rem;
}

.footer__nav-container .flex-item:first-child {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (max-width: 900px) {
  .footer__nav-container .flex-item:first-child {
    margin-bottom: 4rem;
    text-align: center;
  }
}

.footer__nav-container .flex-item:last-child {
  width: 40%;
}

@media screen and (max-width: 900px) {
  .footer__nav-container .flex-item:last-child {
    width: 80%;
    text-align: center;
  }
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  background-color: #fff;
  z-index: 2000;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (max-width: 900px) {
  .navigation__button {
    top: 4rem;
    right: 4rem;
  }
}

@media screen and (max-width: 600px) {
  .navigation__button {
    top: 2rem;
    right: 2rem;
  }
}

.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.navigation__background {
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 1000;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-image: radial-gradient(#7ed56f, #28b485);
  -webkit-transition: all 0.8s cubic-bezier(0.83, 0, 0.17, 1);
  transition: all 0.8s cubic-bezier(0.83, 0, 0.17, 1);
}

@media screen and (max-width: 900px) {
  .navigation__background {
    top: 4.5rem;
    right: 4.5rem;
  }
}

@media screen and (max-width: 600px) {
  .navigation__background {
    top: 2.5rem;
    right: 2.5rem;
  }
}

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  width: 0px;
  -webkit-transform: translateX(-10rem);
          transform: translateX(-10rem);
  opacity: 0;
}

.navigation__list {
  list-style: none;
  text-align: center;
}

.navigation__item {
  margin: 1rem;
}

.navigation__link {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 3rem;
  font-weight: 300;
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(120deg, transparent 50%, #fff 50%);
  background-size: 225%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media screen and (max-width: 600px) {
  .navigation__link {
    font-size: 2.5rem;
  }
}

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.navigation__link span {
  margin-right: 1.5rem;
  display: inline-block;
}

.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.navigation__icon {
  position: relative;
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}

.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navigation__icon::before {
  top: -0.8rem;
}

.navigation__icon::after {
  top: 0.8rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.section-about {
  background-color: #f7f7f7;
  padding: 20rem 0;
  margin-top: -25vh;
}

@media screen and (max-width: 900px) {
  .section-about {
    padding: 15rem 0;
  }
}

.section-features {
  padding: 20rem 0;
  margin-top: -10rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url(../../img/nat-4.jpg);
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../../img/nat-4.jpg);
  background-size: cover;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
}

.section-features > * {
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}

@media screen and (max-width: 900px) {
  .section-features {
    padding: 10rem 0;
  }
}

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 10rem 0;
  margin-top: -25vh;
}

@media screen and (max-width: 900px) {
  .section-tours {
    padding: 20rem 0 5rem 0;
  }
}

.section-stories {
  padding: 15rem 0;
  position: relative;
}

@media screen and (max-width: 900px) {
  .section-stories {
    padding: 7rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

@media screen and (max-width: 900px) {
  .section-book {
    padding: 10rem 0;
  }
}

.book {
  background: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../../img/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  width: 100%;
}

@media screen and (max-width: 900px) {
  .book {
    background: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../../img/nat-10.jpg);
  }
}

@media screen and (max-width: 600px) {
  .book {
    background: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../../img/nat-10.jpg);
    margin: 0 2rem;
  }
}

.book__form {
  width: 50%;
  padding: 6rem;
}

@media screen and (max-width: 900px) {
  .book__form {
    width: 65%;
  }
}

@media screen and (max-width: 600px) {
  .book__form {
    width: 100%;
    padding: 2rem;
  }
}
/*# sourceMappingURL=main.css.map */